
    .body {
        background-color: #d0d0d0;
        margin: 2%;
        font-family: Arial, sans-serif;
    }

    #image {
        line-height: 650px;     
        width: 575px;
        height: 650px;
        border: 5px solid black; 
        margin: 0 auto;         
        background-color: #8e68ff;
        background-image: url(''); 
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        font-size: 150%;
        font-weight: bold; 
        margin-bottom: 20px;
    }

    .preview {
        width: 10%;
        margin-left: 17%;
        border: 10px solid black; 
        cursor: pointer; 
        opacity: 0.8;
    }

    .preview:hover {
        opacity: 1; 
    }
